/*
* ==========================================
* Contact
* ==========================================
*/

.contact {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.28);
  border-radius: 5px;
  overflow: hidden;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.other {
  width: 60%;
  background-image: url(../../photos/products/product1.webp);
  background-size: cover;
  background-position: center;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
}

.other:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, rgb(36, 51, 66), rgba(36, 51, 66, 0.81));
}

.form {
  width: 40%;
  flex-direction: column;
  align-items: flex-end;
}

.form h1 {
  width: 100%;
}

.form form {
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
}

.flex-rev {
  flex-direction: column-reverse;
  width: 100%;
}

.flex-rev input,
.flex-rev textarea {
  border: none;
  background-color: #e6e6e6;
  padding: 12px 10px;
  font-size: 16px;
  margin-top: 7px;
  margin-bottom: 16px;
  border-radius: 5px;
  color: #243342;
  outline-color: #243342;
  outline-width: thin;
}

.flex-rev textarea {
  height: 150px;
}

.info {
  position: relative;
}

.svg-wrap a {
  border: 0;
  padding: 0;
  display: flex;
  color: #bbbbbb;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

.svg-wrap a svg {
  width: 20px;
  height: 20px;
  fill: white;
  transition: fill 0.2s ease-in-out;
  margin-right: 13px;
}

.svg-wrap a:hover svg {
  fill: orange;
  cursor: pointer;
}

.svg-wrap a:hover {
  background-color: transparent;
  color: orange;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .contact {
    width: 100%;
    flex-direction: column-reverse;
    border-radius: 0;
    box-shadow: 0px 0px 0px 0px;
  }
  .other {
    width: 100%;
    padding: 20px 0;
  }
  .form {
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  nav .hamburger {
    opacity: 1;
    pointer-events: initial;
  }
  nav div.linkWrapper {
    top: 0;
    right: 0;
    position: fixed;
    height: 100vh;
    background-color: rgba(36, 51, 66, 0.9);
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.3);
    width: 100%;
    justify-content: center;
    will-change: transform;
    opacity: 0;
    display: none;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }
  nav div a {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-weight: 300;
    letter-spacing: 1.5;
    width: 100%;
    margin-bottom: 31px;
    text-align: center;
    font-size: 38px;
  }
}
