/*
* ==========================================
* Event
* ==========================================
*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1 {  
    font-weight: bold;
    font-size: 4rem;
    margin-top: 14rem;
    margin: 14rem 0 3rem 0;
}

.countdown-container {
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}



.countdown-el span {
    font-size: 1.3rem;
}


