/*
* ==========================================
* Footer
* ==========================================
*/

footer .brand {
    letter-spacing: 2px;
}

footer a {
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--pink) !important;
}